#collage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#collage hr{
    border:none;
    border-top:2px solid #f5f2f2;
    height:1px;
}

#collage #images-view {
    
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 600px;
}

    #collage #images-view li {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: 100% 100%;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }